<link rel="stylesheet" href="css/saleve.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/saleve.png" alt="saleve"/>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>

    <div id="B4_SS_01"><a ng-href="#!/histogram/47884573629210"><span class="value">{{ $ctrl.B4_SS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="DS_SS_01"><a ng-href="#!/histogram/47884707846938"><span class="value">{{ $ctrl.DS_SS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="TC_SS_01"><a ng-href="#!/histogram/47884540074778"><span class="value">{{ $ctrl.TC_SS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="TC_SS_02"><a ng-href="#!/histogram/47884506520346"><span class="value">{{ $ctrl.TC_SS_02 | number: 2 }} &#956;m/m</span></a></div>
    <div id="TC_SS_03"><a ng-href="#!/histogram/47884623960858"><span class="value">{{ $ctrl.TC_SS_03 | number: 2 }} &#956;m/m</span></a></div>
    <div id="B3_SS_01"><a ng-href="#!/histogram/47884590406426"><span class="value">{{ $ctrl.B3_SS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="B2_SS_01"><a ng-href="#!/histogram/47884607183642"><span class="value">{{ $ctrl.B2_SS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="BC_SS_01"><a ng-href="#!/histogram/47884808510234"><span class="value">{{ $ctrl.BC_SS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="BC_SS_03"><a ng-href="#!/histogram/47884791733018"><span class="value">{{ $ctrl.BC_SS_03 | number: 2 }} &#956;m/m</span></a></div>
    <div id="BC_SS_04"><a ng-href="#!/histogram/47884741401370"><span class="value">{{ $ctrl.BC_SS_04 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MEM_SS_03"><a ng-href="#!/histogram/47884875619098"><span class="value">{{ $ctrl.MEM_SS_03 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MEM_SS_02"><a ng-href="#!/histogram/47884657515290"><span class="value">{{ $ctrl.MEM_SS_02 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MEM_SS_01"><a ng-href="#!/histogram/47884892396314"><span class="value">{{ $ctrl.MEM_SS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MC_LSS_04"><a ng-href="#!/histogram/47884389079834"><span class="value">{{ $ctrl.MC_LSS_04 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MC_LSS_03"><a ng-href="#!/histogram/47884405857050"><span class="value">{{ $ctrl.MC_LSS_03 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MC_LSS_02"><a ng-href="#!/histogram/47884489743130"><span class="value">{{ $ctrl.MC_LSS_02 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MC_LSS_01"><a ng-href="#!/histogram/47884439411482"><span class="value">{{ $ctrl.MC_LSS_01 | number: 2 }} &#956;m/m</span></a></div>
</div>