@media screen and (max-height: 1080px) {
    .container_container {
        width: 100%;
        height: 100%;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #tss001AABA {
        position: fixed;
        top: 15vh;
        left: 2vw;
        width: 30vw;
    }

    #tss002ABBB {
        position: fixed;
        top: 15vh;
        left: 55vw;
        width: 30vw;
    }

    #tss002ACBC {
        position: fixed;
        top: 55vh;
        left: 2vw;
        width: 30vw;
    }

    #tss002AEBE {
        position: fixed;
        top: 55vh;
        left: 55vw;
        width: 30vw;
    }

    #NP04_7TT0200AIR {
        position: absolute;
        top: 53vh;
        left: 27vw;
    }

    #NP04_7TT0202AIR {
        position: absolute;
        top: 43vh;
        left: 33vw;
    }

    #NP04_7TT0214AIR {
        position: absolute;
        top: 87vh;
        left: 33vw;
    }

    #NP04_7TT0219AIR {
        position: absolute;
        top: 93vh;
        left: 87vw;
    }

    #old {
        position: absolute;
        top: 10vw;
        left: 35vw;
    }
}

@media screen and (min-height: 1100px) {
    .container_container {
        width: 100%;
        height: 100%;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #tss001AABA {
        position: fixed;
        top: 15vh;
        left: 2vw;
        width: 30vw;
    }

    #tss002ABBB {
        position: fixed;
        top: 15vh;
        left: 55vw;
        width: 30vw;
    }

    #tss002ACBC {
        position: fixed;
        top: 55vh;
        left: 2vw;
        width: 30vw;
    }

    #tss002AEBE {
        position: fixed;
        top: 55vh;
        left: 55vw;
        width: 30vw;
    }

    #NP04_7TT0200AIR {
        position: absolute;
        top: 53vh;
        left: 27vw;
    }

    #NP04_7TT0202AIR {
        position: absolute;
        top: 43vh;
        left: 33vw;
    }

    #NP04_7TT0214AIR {
        position: absolute;
        top: 87vh;
        left: 33vw;
    }

    #NP04_7TT0219AIR {
        position: absolute;
        top: 93vh;
        left: 87vw;
    }

    #old {
        position: absolute;
        top: 10vw;
        left: 35vw;
    }
}

@media screen and (min-height: 1100px) and (min-width: 3000px) {
    .container_container {
        width: 100%;
        height: 100%;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #ambient {
        position: absolute;
        right: 5vw;
        top: 17vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #tss001AABA {
        position: fixed;
        top: 15vh;
        left: 2vw;
        width: 30vw;
    }

    #tss002ABBB {
        position: fixed;
        top: 15vh;
        left: 55vw;
        width: 30vw;
    }

    #tss002ACBC {
        position: fixed;
        top: 55vh;
        left: 2vw;
        width: 30vw;
    }

    #tss002AEBE {
        position: fixed;
        top: 55vh;
        left: 55vw;
        width: 30vw;
    }

    #NP04_7TT0200AIR {
        position: absolute;
        top: 53vh;
        left: 27vw;
    }

    #NP04_7TT0202AIR {
        position: absolute;
        top: 43vh;
        left: 33vw;
    }

    #NP04_7TT0214AIR {
        position: absolute;
        top: 87vh;
        left: 33vw;
    }

    #NP04_7TT0219AIR {
        position: absolute;
        top: 93vh;
        left: 87vw;
    }

    #old {
        position: absolute;
        top: 10vw;
        left: 35vw;
    }
}