@media screen and (max-width: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #coldbox_temp {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 20vw;
    }

    #coldbox_circuit {
        display: block;
        position: fixed;
        top: 15vh;
        left: 40vw;
        width: 30vw;
    }

    #tt205 {
        position: fixed;
        left: 12vw;
        top: 73vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt206 {
        position: fixed;
        left: 12vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt207 {
        position: fixed;
        left: 12vw;
        top: 57vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt208 {
        position: fixed;
        left: 12vw;
        top: 49vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt209 {
        position: fixed;
        left: 12vw;
        top: 41vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt210 {
        position: fixed;
        left: 12vw;
        top: 33vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt211 {
        position: fixed;
        left: 12vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3160 {
        position: fixed;
        left: 47vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3170 {
        position: fixed;
        left: 67vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3500 {
        position: fixed;
        left: 49vw;
        top: 40vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3510 {
        position: fixed;
        left: 49vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3170 {
        position: fixed;
        left: 55vw;
        top: 15vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3500 {
        position: fixed;
        left: 56vw;
        top: 25vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3510 {
        position: fixed;
        left: 36vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3500 {
        position: fixed;
        left: 55vw;
        top: 33vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3510 {
        position: fixed;
        left: 55vw;
        top: 46vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }
}

@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #coldbox_temp {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 20vw;
    }

    #coldbox_circuit {
        display: block;
        position: fixed;
        top: 15vh;
        left: 35vw;
        width: 45vw;
    }

    #tt205 {
        position: fixed;
        left: 12vw;
        top: 73vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt206 {
        position: fixed;
        left: 12vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt207 {
        position: fixed;
        left: 12vw;
        top: 57vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt208 {
        position: fixed;
        left: 12vw;
        top: 49vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt209 {
        position: fixed;
        left: 12vw;
        top: 41vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt210 {
        position: fixed;
        left: 12vw;
        top: 33vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt211 {
        position: fixed;
        left: 12vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3160 {
        position: fixed;
        left: 47vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3170 {
        position: fixed;
        left: 67vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3500 {
        position: fixed;
        left: 49vw;
        top: 40vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3510 {
        position: fixed;
        left: 49vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3170 {
        position: fixed;
        left: 55vw;
        top: 15vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3500 {
        position: fixed;
        left: 56vw;
        top: 25vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3510 {
        position: fixed;
        left: 36vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3500 {
        position: fixed;
        left: 55vw;
        top: 33vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3510 {
        position: fixed;
        left: 55vw;
        top: 46vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }

}

@media screen and (min-height: 1080px) and (max-height: 2000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #coldbox_temp {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 20vw;
    }

    #coldbox_circuit {
        display: block;
        position: fixed;
        top: 15vh;
        left: 35vw;
        width: 45vw;
    }

    #tt205 {
        position: fixed;
        left: 12vw;
        top: 73vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt206 {
        position: fixed;
        left: 12vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt207 {
        position: fixed;
        left: 12vw;
        top: 57vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt208 {
        position: fixed;
        left: 12vw;
        top: 49vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt209 {
        position: fixed;
        left: 12vw;
        top: 41vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt210 {
        position: fixed;
        left: 12vw;
        top: 33vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt211 {
        position: fixed;
        left: 12vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3160 {
        position: fixed;
        left: 47vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3170 {
        position: fixed;
        left: 67vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3500 {
        position: fixed;
        left: 49vw;
        top: 40vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3510 {
        position: fixed;
        left: 49vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3170 {
        position: fixed;
        left: 55vw;
        top: 15vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3500 {
        position: fixed;
        left: 56vw;
        top: 25vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3510 {
        position: fixed;
        left: 36vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3500 {
        position: fixed;
        left: 55vw;
        top: 33vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3510 {
        position: fixed;
        left: 55vw;
        top: 46vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }
}

@media screen and (min-height: 1100px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #coldbox_temp {
        display: block;
        position: fixed;
        top: 15vh;
        left: 15vw;
        width: 20vw;
    }

    #coldbox_circuit {
        display: block;
        position: fixed;
        top: 15vh;
        left: 35vw;
        width: 45vw;
    }

    #tt205 {
        position: fixed;
        left: 12vw;
        top: 73vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt206 {
        position: fixed;
        left: 12vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt207 {
        position: fixed;
        left: 12vw;
        top: 57vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt208 {
        position: fixed;
        left: 12vw;
        top: 49vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt209 {
        position: fixed;
        left: 12vw;
        top: 41vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt210 {
        position: fixed;
        left: 12vw;
        top: 33vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #tt211 {
        position: fixed;
        left: 12vw;
        top: 25vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3160 {
        position: fixed;
        left: 47vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3170 {
        position: fixed;
        left: 67vw;
        top: 22vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3500 {
        position: fixed;
        left: 49vw;
        top: 40vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #CV3510 {
        position: fixed;
        left: 49vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3170 {
        position: fixed;
        left: 55vw;
        top: 15vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3500 {
        position: fixed;
        left: 56vw;
        top: 25vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #PT3510 {
        position: fixed;
        left: 36vw;
        top: 55vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3500 {
        position: fixed;
        left: 55vw;
        top: 33vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TT3510 {
        position: fixed;
        left: 55vw;
        top: 46vh;
        text-align: center;
        color: #CCCCCC;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 5vw;
        top: 80vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 1.7vmin;
    }
}