.zmonitor_container {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

.crate_link {
    color: #dddddd;
    text-decoration: none;
}

.selection {
    color: #dddddd;
    position: fixed;
    top: 10%;
    left: 25%;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 3.5vmin;
}

.selection table {
    border: 0px;
}

.selection td {
    border: 2.5px solid white;
}

.selection a {
    color: #dddddd;
    text-decoration: none;
    font-size: 2.5vmin;
}

.wibs {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #dddddd;
}

.wibs th {
    color: #dddddd;
    font-size: 2.5vmin;
}

.wibs table {
    color: #dddddd;
}

.wibs td {
    color: #dddddd;
    font-size: 2.0vmin;
}

.wibs a {
    color: #dddddd;
}

#wib1 {
    position: fixed;
    left: 10%;
    top: 25%;
    text-align: center;

}

#wib2 {
    position: fixed;
    left: 25%;
    top: 25%;
    text-align: center;

}

#wib3 {
    position: fixed;
    left: 40%;
    top: 25%;
    text-align: center;

}

#wib4 {
    position: fixed;
    left: 55%;
    top: 25%;
    text-align: center;

}

#wib5 {
    position: fixed;
    left: 70%;
    top: 25%;
    text-align: center;

}

#ambient {
    position: fixed;
    right: 5vw;
    top: 20vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}