@media screen and (max-height: 1080px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 30vh;
        left: 20%;
        width: 65vmin;
    }

    #ambient {
        position: absolute;
        right: 10%;
        top: 17%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #bellegarde {
        position: fixed;
        left: 47%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #jura {
        position: fixed;
        left: 20%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #lausanne {
        position: fixed;
        left: 20%;
        top: 32%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #saleve {
        position: fixed;
        left: 43%;
        top: 35%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #bottomSide {
        position: fixed;
        left: 42%;
        top: 85%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #penetration_pipe {
        position: fixed;
        right: 7vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 1100px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 20%;
        width: 65vmin;
    }

    #ambient {
        position: absolute;
        right: 10%;
        top: 17%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #bellegarde {
        position: fixed;
        left: 70%;
        top: 67%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #jura {
        position: fixed;
        left: 20%;
        top: 67%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #lausanne {
        position: fixed;
        left: 20%;
        top: 37%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #saleve {
        position: fixed;
        left: 83%;
        top: 37%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #bottomSide {
        position: fixed;
        left: 68%;
        top: 80%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #penetration_pipe {
        position: fixed;
        right: 7vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 1100px) and (min-width: 3000px) {
    .membrane_container {

        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 30vh;
        left: 20%;
        width: 65vmin;
    }

    #ambient {
        position: absolute;
        right: 10vw;
        top: 17vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.7vmin;
    }

    #bellegarde {
        position: fixed;
        left: 50%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #jura {
        position: fixed;
        left: 20%;
        top: 65%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #lausanne {
        position: fixed;
        left: 20%;
        top: 32%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #saleve {
        position: fixed;
        left: 47%;
        top: 32%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #bottomSide {
        position: fixed;
        left: 45%;
        top: 85%;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
        background-color: #333333;
    }

    #penetration_pipe {
        position: fixed;
        right: 7vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}