@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 17vw;
        width: 75%;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #DS_LS_01 {
        position: fixed;
        left: 17vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TC_LS_02 {
        position: fixed;
        left: 70vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B3_LS_01 {
        position: fixed;
        left: 17vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #BC_LS_03 {
        position: fixed;
        left: 62vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_LS_02 {
        position: fixed;
        left: 40vw;
        bottom: 3vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_LS_03 {
        position: fixed;
        left: 27vw;
        bottom: 3vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_LJS_03 {
        position: fixed;
        right: 5vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_LJS_02 {
        position: fixed;
        right: 5vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

}

@media screen and (min-height: 1100px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 5vw;
        width: 95%;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #DS_LS_01 {
        position: fixed;
        left: 17vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TC_LS_02 {
        position: fixed;
        left: 70vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B3_LS_01 {
        position: fixed;
        left: 17vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #BC_LS_03 {
        position: fixed;
        left: 62vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_LS_02 {
        position: fixed;
        left: 40vw;
        bottom: 3vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_LS_03 {
        position: fixed;
        left: 27vw;
        bottom: 3vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_LJS_03 {
        position: fixed;
        right: 5vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_LJS_02 {
        position: fixed;
        right: 5vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 1100px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 17vw;
        width: 75%;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #DS_LS_01 {
        position: fixed;
        left: 17vw;
        top: 50vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #TC_LS_02 {
        position: fixed;
        left: 70vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #B3_LS_01 {
        position: fixed;
        left: 17vw;
        top: 60vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #BC_LS_03 {
        position: fixed;
        left: 62vw;
        bottom: 10vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_LS_02 {
        position: fixed;
        left: 40vw;
        bottom: 3vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MEM_LS_03 {
        position: fixed;
        left: 27vw;
        bottom: 3vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_LJS_03 {
        position: fixed;
        right: 5vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #MC_LJS_02 {
        position: fixed;
        right: 5vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}