.mpodpd_container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

#ambient {
    position: fixed;
    right: 10vw;
    top: 20vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#das {
    position: fixed;
    left: 10vw;
    top: 60vh;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
}

#ras {
    position: fixed;
    left: 85vw;
    top: 60vh;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
}

#usras {
    position: fixed;
    left: 30vw;
    top: 15vh;
    display: none;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
    background-color: #333333;
}

#msras {
    position: fixed;
    left: 30vw;
    top: 15vh;
    display: none;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
    background-color: #333333;
}

#dsras {
    position: fixed;
    left: 30vw;
    top: 15vh;
    display: none;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
    background-color: #333333;
}

#usdas {
    position: fixed;
    left: 30vw;
    top: 15vh;
    display: none;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
    background-color: #333333;
}

#msdas {
    position: fixed;
    left: 30vw;
    top: 15vh;
    display: none;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
    background-color: #333333;
}

#dsdas {
    position: fixed;
    left: 30vw;
    top: 15vh;
    display: none;
    font-family: "Arial Black", Gadget, sans-serif;
    color: gray;
    text-align: center;
    background-color: #333333;
}