@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 17vw;
        width: 37vw;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    table {
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    th {
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.3vmin;
    }

    td {
        color: gray;
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 2.0vmin;
    }

    #main {
        position: fixed;
        left: 1vw;
        top: 20vh;
    }

    a {
        color: gray;
    }
    #tempbuttons {
        position: fixed;
        top: 25vh;
        left: 5vw;
    }

    #cardChoice {
        position: fixed;
        top: 25vh;
        right: 25vw;
    }

    button {
        width: 200px;
        font-size: 2.3vmin;
    }

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .card {
        width: 75px;
    }
}

@media screen and (max-height: 1080px) and (min-width: 2000px){
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 17vw;
        width: 37vw;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    table {
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    th {
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.3vmin;
    }

    td {
        color: gray;
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 2.5vmin;
    }

    #main {
        position: fixed;
        left: 1vw;
        top: 20vh;
    }

    a {
        color: gray;
    }
    #tempbuttons {
        position: fixed;
        top: 25vh;
        left: 5vw;
    }

    #cardChoice {
        position: fixed;
        top: 25vh;
        right: 30vw;
    }

    button {
        width: 300px;
        font-size: 2.5vmin;
    }

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .card {
        width: 200px;
    }
}

@media screen and (min-height: 1100px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 17vw;
        width: 37vw;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    table {
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    th {
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.3vmin;
    }

    td {
        color: gray;
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 2.0vmin;
    }

    #main {
        position: fixed;
        left: 1vw;
        top: 20vh;
    }

    a {
        color: gray;
    }
    #tempbuttons {
        position: fixed;
        top: 25vh;
        left: 5vw;
    }

    #cardChoice {
        position: fixed;
        top: 25vh;
        right: 25vw;
    }

    button {
        width: 200px;
        font-size: 2.3vmin;
    }

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .card {
        width: 200px;
    }
}

@media screen and (min-height: 1100px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 17vw;
        width: 37vw;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        bottom: 5vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    table {
        text-align: left;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    th {
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.3vmin;
    }

    td {
        color: gray;
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
        font-size: 2.0vmin;
    }

    #main {
        position: fixed;
        left: 1vw;
        top: 20vh;
    }

    a {
        color: gray;
    }
    #tempbuttons {
        position: fixed;
        top: 25vh;
        left: 5vw;
    }

    #cardChoice {
        position: fixed;
        top: 25vh;
        right: 25vw;
    }

    button {
        width: 200px;
        font-size: 2.3vmin;
    }

    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .card {
        width: 75px;
    }
}
