@media screen and (max-height: 1080px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 10vh;
        left: 17vw;
        width: 60%;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #DS_MDL_01 {
        position: fixed;
        left: 17vw;
        top: 46vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

}

@media screen and (min-height: 1100px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 35vh;
        left: 3vw;
        width: 95%;
    }

    #outer_pressure {
        position: fixed;
        left: 6vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #inner_pressure {
        position: fixed;
        left: 6vw;
        top: 40vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #inner_pressure_2 {
        position: fixed;
        left: 4.5vw;
        top: 55vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient_diff {
        position: fixed;
        left: 5.0vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration_pipe {
        position: fixed;
        right: 7vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #beam_plug {
        position: fixed;
        left: 30vw;
        top: 7vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #lesker_vacuum_gauge {
        position: fixed;
        left: 45vw;
        top: 7vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}

@media screen and (min-height: 1100px) and (min-width: 3000px) {
    .container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: inline-block;
        overflow: hidden;
        margin: 0;
    }

    #detector {
        display: block;
        position: fixed;
        top: 15vh;
        left: 17vw;
        width: 65%;
    }

    #outer_pressure {
        position: fixed;
        left: 6vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #inner_pressure {
        position: fixed;
        left: 6vw;
        top: 40vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #inner_pressure_2 {
        position: fixed;
        left: 4.5vw;
        top: 55vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient_diff {
        position: fixed;
        left: 5.0vw;
        top: 70vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #ambient {
        position: fixed;
        right: 10vw;
        top: 20vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #penetration_pipe {
        position: fixed;
        right: 7vw;
        top: 65vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #beam_plug {
        position: fixed;
        left: 30vw;
        top: 7vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }

    #lesker_vacuum_gauge {
        position: fixed;
        left: 45vw;
        top: 7vh;
        text-align: right;
        color: gray;
        font-family: "Arial Black", Gadget, sans-serif;
        font-size: 2.0vmin;
    }
}