.zmonitor_container {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

#ambient {
    position: fixed;
    right: 10vw;
    top: 20vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#xenon {
    position: fixed;
    left: 20%;
    top: 45%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#xenonconv {
    position: fixed;
    left: 20%;
    top: 50%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#NP04_4PT4150 {
    position: fixed;
    left: 20%;
    top: 60%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#NP04_4PT4910 {
    position: fixed;
    left: 20%;
    top: 65%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#xenonweight {
    position: fixed;
    left: 20%;
    top: 55%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}