.zmonitor_container {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 0;
}

#ambient {
    position: fixed;
    right: 10vw;
    top: 20vh;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.0vmin;
}

#RES {
    position: fixed;
    left: 20%;
    top: 45%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.7vmin;
}

#TH {
    position: fixed;
    left: 35%;
    top: 45%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.7vmin;
}

#mag {
    position: fixed;
    left: 50%;
    top: 45%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.7vmin;
}

#I {
    position: fixed;
    left: 65%;
    top: 45%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.7vmin;
}

#Q {
    position: fixed;
    left: 80%;
    top: 45%;
    text-align: right;
    color: gray;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2.7vmin;
}