<link rel="stylesheet" href="css/spgradient.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/spgradient.png" alt="spgradient"/>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>

    <div id="TE0073">TE0073: <a target="_blank" ng-href="#!/histogram/47891469041946"><span class="value">{{ $ctrl.NP04_DCS_01_TE0073_ | number: 1 }} &#8490;</span></a></div>
    <div id="TE0074">TE0074: <a target="_blank" ng-href="#!/histogram/47891485819162"><span class="value">{{ $ctrl.NP04_DCS_01_TE0074_ | number: 1 }} &#8490;</span></a></div>
    <div id="TE0075">TE0075: <a target="_blank" ng-href="#!/histogram/47891502596378"><span class="value">{{ $ctrl.NP04_DCS_01_TE0075_ | number: 1 }} &#8490;</span></a></div>
    <div id="TE0076">TE0076: <a target="_blank" ng-href="#!/histogram/47891519373594"><span class="value">{{ $ctrl.NP04_DCS_01_TE0076_ | number: 1 }} &#8490;</span></a></div>
    <div id="TE0077">TE0077: <a target="_blank" ng-href="#!/histogram/47891536150810"><span class="value">{{ $ctrl.NP04_DCS_01_TE0077_ | number: 1 }} &#8490;</span></a></div>
    <div id="TE0078">TE0078: <a target="_blank" ng-href="#!/histogram/47891552928026"><span class="value">{{ $ctrl.NP04_DCS_01_TE0078_ | number: 1 }} &#8490;</span></a></div>
    <div id="TE0079">TE0079: <a target="_blank" ng-href="#!/histogram/47891569705242"><span class="value">{{ $ctrl.NP04_DCS_01_TE0079_ | number: 1 }} &#8490;</span></a></div>
    <div id="TE0080">TE0080: <a target="_blank" ng-href="#!/histogram/47891586482458"><span class="value">{{ $ctrl.NP04_DCS_01_TE0080_ | number: 1 }} &#8490;</span></a></div>

</div>