<link rel="stylesheet" href="css/jura.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/jura.png" alt="jura"/>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>


    <div id="DS_JS_01"><a ng-href="#!/histogram/47884120644378"><span class="value">{{ $ctrl.DS_JS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="TC_JS_02"><a ng-href="#!/histogram/47884036758298"><span class="value">{{ $ctrl.TC_JS_02 | number: 2 }} &#956;m/m</span></a></div>
    <div id="B3_JS_01"><a ng-href="#!/histogram/47884103867162"><span class="value">{{ $ctrl.B3_JS_01 | number: 2 }} &#956;m/m</span></a></div>
    <div id="BC_JS_03"><a ng-href="#!/histogram/47884070312730"><span class="value">{{ $ctrl.BC_JS_03 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MC_BJS_03"><a ng-href="#!/histogram/47884137421594"><span class="value">{{ $ctrl.MC_BJS_03 | number: 2 }} &#956;m/m</span></a></div>
    <div id="MC_BJS_02"><a ng-href="#!/histogram/47884154198810"><span class="value">{{ $ctrl.MC_BJS_02 | number: 2 }} &#956;m/m</span></a></div>

</div>