<link rel="stylesheet" href="css/inside.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/cryostat.png" alt="gttprobes"/>

    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>
    <div id="bellegarde"><a href="#!/south">Bellegarde side</a></div>
    <div id="jura"><a href="#!/west">Jura side</a></div>
    <div id="lausanne"><a href="#!/north">Lausanne side</a></div>
    <div id="saleve"><a href="#!/east">Saleve side</a></div>
    <div id="bottomSide"><a href="#!/bottom">Bottom side</a></div>
    <div id="penetration_pipe">
        <table id="penetration1">
            <tr>
                <th>Pen. pipe 33.1</th>
                <th>Pen. pipe 33.2</th>
            </tr>
            <tr>
                <td>TE0121 <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47892274348314"><span class="value">{{ $ctrl.NP04_DCS_01_TE0121 | number: 1 }} &#8490;</span></a><br/>
                    TE0122 <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47892291125530"><span class="value">{{ $ctrl.NP04_DCS_01_TE0122 | number: 1 }} &#8490;</span></a><br/>
                    TE0123 <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47892307902746"><span class="value">{{ $ctrl.NP04_DCS_01_TE0123 | number: 1 }} &#8490;</span></a></td>
                <td>TE0127 <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47892375011610"><span class="value">{{ $ctrl.NP04_DCS_01_TE0127 | number: 1 }} &#8490;</span></a></td>
            </tr>
        </table>
        <table id="penetration3">
            <tr>
                <th>Pen. pipe 33.3</th>
                <th>Pen. pipe 33.4</th>
            </tr>
            <tr>
                <td>TE0133 <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47892475674906"><span class="value">{{ $ctrl.NP04_DCS_01_TE0133 | number: 1 }} &#8490;</span></a><br/>
                    TE0135 <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47892509229338"><span class="value">{{ $ctrl.NP04_DCS_01_TE0135 | number: 1 }} &#8490;</span></a></td>
                <td>TE0139 <span style="font-size: 1.5vmin;">(Type 1)</span>: <a target="_blank" href="#!/histogram/47892576338202"><span class="value">{{ $ctrl.NP04_DCS_01_TE0139 | number: 1 }} &#8490;</span></a><br/>
                    TE0140 <span style="font-size: 1.5vmin;">(Type 2)</span>: <a target="_blank" href="#!/histogram/47892593115418"><span class="value">{{ $ctrl.NP04_DCS_01_TE0140 | number: 1 }} &#8490;</span></a></td>
            </tr>
        </table>
    </div>
</div>