<link rel="stylesheet" href="css/comissioning.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>

    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>
    <div id="dqm" style="font-family: 'Arial Black', Gadget, sans-serif; font-size: 2.3vmin; color: white; position: fixed; top: 25vh; left: 5vw;"><a style='color: white;' target="_blank" href="http://p3s-content.cern.ch/monitor/puritychart">Link to NP04 DQM</a></div>
    <div id="cryostat_pressure">
        <table>
            <tr>
                <td>Cryostat: <a target="_blank" ng-href="#!/histogram/47931851800858"><span class="value">{{ $ctrl.NP04_DCS_01_NP04_4PT4920 | number: 2 }} bar</span></a></td>
                <td>PT0110:&nbsp;<a target="_blank" ng-href="#!/histogram/47879272028954"><span class="value">{{ $ctrl.NP04_PT0110AI | number: 1 }} mbar</span></a></td>
                <td>PT0111:&nbsp;<a target="_blank" ng-href="#!/histogram/47879288806170"><span class="value">{{ $ctrl.NP04_PT0111AI | number: 1 }} mbar</span></a></td>
                <td>O<sub>2</sub>: <a target="_blank" ng-href="#!/histogram/47897609503002"><span class="value">{{ $ctrl.NP04_DCS_01_NP04_4QT4710 | number: 2}} ppm</span></a></td>
                <td>O<sub>2</sub>: <a target="_blank" ng-href="#!/histogram/47897626280218"><span class="value">{{ $ctrl.NP04_DCS_01_NP04_4QT4711 | number: 2}} ppm</span></a></td>
                <td>N<sub>2</sub>: <a target="_blank" ng-href="#!/histogram/47897643057434"><span class="value">{{ $ctrl.NP04_DCS_01_NP04_4QT4720 | number: 2}} ppm</span></a></td>
                <td>H<sub>2</sub>O: <a target="_blank" ng-href="#!/histogram/47897676611866"><span class="value">{{ $ctrl.NP04_DCS_01_NP04_4QT4730 | number: 2}} ppm</span></a></td>
            </tr>
            <tr>
                <td>Sense voltage: <a target="_blank" ng-href="#!/histogram/47890059777050"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPOD_CE_RACK6_Board2_Channel07_MeasurementSenseVoltage | number: 2 }} V</span></a></td>
                <td>Current: <a target="_blank" ng-href="#!/histogram/47890059777306"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPOD_CE_RACK6_Board2_Channel07_MeasurementCurrent * 1000000000 | number: 2 }} nA</span></a></td>
                <td>LAr level: <a target="blank" ng-href="#!/histogram/47897777275162"><span class="value">{{ $ctrl.NP04_DCS_01_LT0100 | number: 2}} mm</span></a></td>
                <td>LAr inlet position: <a target="blank" ng-href="#!/histogram/47917859602714"><span class="value">{{ $ctrl.NP04_4CV4202 | number: 2}} %</span></a></td>
                <td colspan="2">LAr recirculation pump differential pressure: <a target="_blank" ng-href="#!/histogram/47931801469210"><span class="value">{{ $ctrl.NP04_DCS_01_NP04_4PDT4500 | number: 2}} mbar</span></a></td>
                <td>LAr recirculation flow: <a target="_blank" ng-href="#!/histogram/48019361759514"><span class="value">{{ $ctrl.NP04_DCS_01_NP04_4FT4592 | number: 2 }}</span></a></td>
            </tr>
        </table><br/>
        <br/>




    </div>
</div>