<link rel="stylesheet" href="css/mpodpd.css">
<div class="mpodpd_container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>


    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>

    <div class="detector">
        <img src="img/mpodpd_detector.png" alt="" usemap="#Map" style="display: block; position: fixed;
                                                                    top: 40vh;
                                                                    left: 30vw;
                                                                    width: 35vw;"/>
        <table id="ras">
            <th>RaS (RackSide)</th>
            <tr>
                <td><a href="javascript:void(0)" onclick="if (document.getElementById('dsras').style.display=='none') {
                                                              document.getElementById('dsras').style.display='block'
                                                          } else {
                                                              document.getElementById('dsras').style.display='none'
                                                          }">DS (DownStream)</a></td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)" onclick="if (document.getElementById('msras').style.display=='none') {
                                                              document.getElementById('msras').style.display='block'
                                                          } else {
                                                              document.getElementById('msras').style.display='none'
                                                          }">MS (MidStream)</a></td>
            </tr>
            <tr>
                <td><a href="javascript:void(0)" onclick="if (document.getElementById('usras').style.display=='none') {
                                                              document.getElementById('usras').style.display='block'
                                                          } else {
                                                              document.getElementById('usras').style.display='none'
                                                          }">US (UpStream)</a></td>
            </tr>
        </table>

        <table id="das">
            <tr>
                <td><a ng-href="#!/mpodpddas">DaS (DAQ Side)</a></td>
            </tr>
        </table>

        <div id="contain">

            <table class="params" id="usras">
                <th colspan="3">US RaS (Upstream RackSide)</th>
                <tr>
                    <td colspan="6">Slot A</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel00_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][0][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel00_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][0][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel00_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][0][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel00_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][0][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel00_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][0][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel00_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][0][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot B</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel01_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][1][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel01_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][1][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel01_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][1][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel01_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][1][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel01_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][1][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel01_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][1][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot C</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel02_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][2][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel02_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][2][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel02_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][2][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel02_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][2][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel02_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][2][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel02_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][2][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot D</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel03_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][3][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel03_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][3][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel03_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][3][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel03_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][3][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel03_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][3][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel03_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][3][2] | number: 2 }} A</span></a></td>
                </tr>
            </table>

            <table class="params" id="msras">
                <th colspan="3">MS RaS (Midstream RackSide)</th>
                <tr>
                    <td colspan="6">Slot A</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel04_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][4][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel04_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][4][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel04_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][4][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel04_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][4][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel04_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][4][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel04_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][4][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot B</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel05_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][5][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel05_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][5][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel05_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][5][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel05_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][5][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel05_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][5][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel05_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][5][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot C</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel06_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][6][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel06_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][6][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel06_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][6][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel06_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][6][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel06_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][6][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel06_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][6][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot D</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel07_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][7][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel07_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][7][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board0_Channel07_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[0][7][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel07_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][7][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel07_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][7][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board2_Channel07_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[2][7][2] | number: 2 }} A</span></a></td>
                </tr>
            </table>

            <table class="params" id="dsras">
                <th colspan="3">DS RaS (Downstream RackSide)</th>
                <tr>
                    <td colspan="6">Slot A</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel00_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][0][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel00_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][0][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel00_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][0][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel00_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][0][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel00_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][0][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel00_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][0][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot B</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel01_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][1][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel01_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][1][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel01_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][1][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel01_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][1][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel01_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][1][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel01_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][1][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot C</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel02_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][2][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel02_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][2][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel02_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][2][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel02_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][2][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel02_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][2][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel02_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][2][2] | number: 2 }} A</span></a></td>
                </tr>
                <tr>
                    <td colspan="6">Slot D</td>
                </tr>
                <tr>
                    <td colspan="3">Power</td>
                    <td colspan="3">Bias</td>
                </tr>
                <tr>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel03_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][3][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel03_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][3][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board1_Channel03_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[1][3][2] | number: 2 }} A</span></a></td>
                    <td>Power: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel03_Status_On"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][3][0] == 1 ? "On" : "Off" }}</span></a></td>
                    <td>Voltage: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel03_MeasurementSenseVoltage"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][3][1] | number: 2 }} V</span></a></td>
                    <td>Current: <a target="_blank" ng-href="#!/histogram/NP04_DCS_01_Wiener_MPOD_PD_RACK4_Board3_Channel03_MeasurementCurrent"><span class="value">{{ $ctrl.NP04_DCS_01_Wiener_MPODPD[3][3][2] | number: 2 }} A</span></a></td>
                </tr>
            </table>
            
        </div>

    </div>


</div>