<link rel="stylesheet" href="css/gauges.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/cryostat.png" alt="gauges"/>

    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>
    <div id="bellegarde"><a href="#!/bellegarde">Bellegarde side</a></div>
    <div id="jura"><a href="#!/jura">Jura side</a></div>
    <div id="lausanne"><a href="#!/lausanne">Lausanne side</a></div>
    <div id="saleve"><a href="#!/saleve">Saleve side</a></div>
    <div id="topSide"><a href="#!/top">Top side</a></div>
</div>