<link rel="stylesheet" href="css/tinternal2d.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/tinternal2d.png" alt="pipes"/>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>

    <div id="TE0085">TE0085: <a target="_blank" ng-href="#!/histogram/47891670368538"><span class="value">{{ $ctrl.NP04_DCS_01_TE0085_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P1</span></strong></a></div>
    <div id="TE0086">TE0086: <a target="_blank" ng-href="#!/histogram/47891687145754"><span class="value">{{ $ctrl.NP04_DCS_01_TE0086_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P2</span></strong></a></div>
    <div id="TE0087">TE0087: <a target="_blank" ng-href="#!/histogram/47891703922970"><span class="value">{{ $ctrl.NP04_DCS_01_TE0087_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P3</span></strong></a></div>
    <div id="TE0088">TE0088: <a target="_blank" ng-href="#!/histogram/47891720700186"><span class="value">{{ $ctrl.NP04_DCS_01_TE0088_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P4</span></strong></a></div>
    <div id="TE0089">TE0089: <a target="_blank" ng-href="#!/histogram/47891737477402"><span class="value">{{ $ctrl.NP04_DCS_01_TE0089_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P5</span></strong></a></div>
    <div id="TE0090">TE0090: <a target="_blank" ng-href="#!/histogram/47891754254618"><span class="value">{{ $ctrl.NP04_DCS_01_TE0090_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P6</span></strong></a></div>
    <div id="TE0091">TE0091: <a target="_blank" ng-href="#!/histogram/47891771031834"><span class="value">{{ $ctrl.NP04_DCS_01_TE0091_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P7</span></strong></a></div>
    <div id="TE0092">TE0092: <a target="_blank" ng-href="#!/histogram/47891787809050"><span class="value">{{ $ctrl.NP04_DCS_01_TE0092_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P8</span></strong></a></div>
    <div id="TE0093">TE0093: <a target="_blank" ng-href="#!/histogram/47891804586266"><span class="value">{{ $ctrl.NP04_DCS_01_TE0093_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P9</span></strong></a></div>
    <div id="TE0094">TE0094: <a target="_blank" ng-href="#!/histogram/47891821363482"><span class="value">{{ $ctrl.NP04_DCS_01_TE0094_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P10</span></strong></a></div>
    <div id="TE0095">TE0095: <a target="_blank" ng-href="#!/histogram/47891838140698"><span class="value">{{ $ctrl.NP04_DCS_01_TE0095_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P11</span></strong></a></div>
    <div id="TE0096">TE0096: <a target="_blank" ng-href="#!/histogram/47891854917914"><span class="value">{{ $ctrl.NP04_DCS_01_TE0096_ | number: 1 }} &#8490;</span> <strong><span style="background-color: #333333; color: red;">P12</span></strong></a></div>

</div>