<link rel="stylesheet" href="css/tinternal.css">
<div class="container">
    <div id="pageTitle">{{$ctrl.pageTitle}}</div>
    <img id="detector" src="img/tinternal.png" alt="tinternal"/>
    <div id="timestamp_label">Timestamp:<br/><span id="timestamp">{{ $ctrl.timestamp | date: 'dd-MM-yyyy HH:mm:ss' }}</span></div>
    <div id="ambient">Humidity:<br/><a target="_blank" href="#!/histogram/47878785489690"><span class="value">{{ $ctrl.NP04_MHT0100AI | number: 1 }} %</span></a><br/>Ambient temperature:<br/><a target="_blank" href="#!/histogram/47878802266906"><span class="value">{{ $ctrl.NP04_TT0100AI | number: 1 }} &#8451;</span></a><br/>Ambient pressure:<br/><a target="_blank" href="#!/histogram/47878819044122"><span class="value">{{ $ctrl.NP04_PT0106AI | number: 1 }} mbar</span></a></div>
    <button id="spwall" ng-click='$ctrl.pageChooser("spwall")'>T-wall</button>
    <button id="floor" ng-click='$ctrl.pageChooser("floor")'>T-floor</button>
    <button id="spgradient" ng-click='$ctrl.pageChooser("spgradient")'>T-ground plates</button>
    <button id="spbottom" ng-click='$ctrl.pageChooser("spbottom")'>T-bottom cryostat</button>
    <button id="splevel2" ng-click='$ctrl.pageChooser("splevel2")'>T-liq-level</button>
    <button id="pipes" ng-click='$ctrl.pageChooser("pipes")'>T-pipes</button>
    <button id="hawaii" onclick="if (document.getElementById('hawaiival').style.display=='none') {
                                                              document.getElementById('hawaiival').style.display='block';
                                                          } else {
                                                              document.getElementById('hawaiival').style.display='none';
                                                          }">T-HAWAII</button>

    <button id="ific1btn" onclick="if (document.getElementById('ific1val').style.display=='none') {
                                                              document.getElementById('ific1val').style.display='block';
                                                              document.getElementById('ific2val').style.display='none';
                                                              document.getElementById('ific3val').style.display='none';
                                                          } else {
                                                              document.getElementById('ific1val').style.display='none';
                                                          }">IFIC top</button>
    <button id="ific2btn" onclick="if (document.getElementById('ific2val').style.display=='none') {
                                                              document.getElementById('ific1val').style.display='none';
                                                              document.getElementById('ific2val').style.display='block';
                                                              document.getElementById('ific3val').style.display='none';
                                                          } else {
                                                              document.getElementById('ific2val').style.display='none';
                                                          }">IFIC middle</button>

    <button id="ific3btn" onclick="if (document.getElementById('ific3val').style.display=='none') {
                                                              document.getElementById('ific1val').style.display='none';
                                                              document.getElementById('ific2val').style.display='none';
                                                              document.getElementById('ific3val').style.display='block';
                                                          } else {
                                                              document.getElementById('ific3val').style.display='none';
                                                          }">IFIC bottom</button>

    <div id="hawaiival">
        <table>
            <tr>
                <td>0067 (m): <a target="_blank" ng-href="#!/histogram/47891368378650"><span class="value"> &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0068 (7.582 m): <a target="_blank" ng-href="#!/histogram/47891385155866"><span class="value">{{ $ctrl.NP04_DCS_01_TE[67] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0069 (7.480 m): <a target="_blank" ng-href="#!/histogram/47891401933082"><span class="value">{{ $ctrl.NP04_DCS_01_TE[68] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0070 (7.379 m): <a target="_blank" ng-href="#!/histogram/47891418710298"><span class="value">{{ $ctrl.NP04_DCS_01_TE[69] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0071 (7.277 m): <a target="_blank" ng-href="#!/histogram/47891435487514"><span class="value">{{ $ctrl.NP04_DCS_01_TE[70] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0072 (7.175 m): <a target="_blank" ng-href="#!/histogram/47891452264730"><span class="value">{{ $ctrl.NP04_DCS_01_TE[71] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0061 (6.667 m): <a target="_blank" ng-href="#!/histogram/47891267715354"><span class="value">{{ $ctrl.NP04_DCS_01_TE[60] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0062 (6.159 m): <a target="_blank" ng-href="#!/histogram/47891284492570"><span class="value">{{ $ctrl.NP04_DCS_01_TE[61] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0063 (5.651 m): <a target="_blank" ng-href="#!/histogram/47891301269786"><span class="value">{{ $ctrl.NP04_DCS_01_TE[62] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0064 (5.143 m): <a target="_blank" ng-href="#!/histogram/47891318047002"><span class="value">{{ $ctrl.NP04_DCS_01_TE[63] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0065 (4.635 m): <a target="_blank" ng-href="#!/histogram/47891334824218"><span class="value">{{ $ctrl.NP04_DCS_01_TE[64] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0066 (4.127 m): <a target="_blank" ng-href="#!/histogram/47891351601434"><span class="value">{{ $ctrl.NP04_DCS_01_TE[65] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0055 (3.619 m): <a target="_blank" ng-href="#!/histogram/47891167052058"><span class="value">{{ $ctrl.NP04_DCS_01_TE[54] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0056 (3.111 m): <a target="_blank" ng-href="#!/histogram/47891183829274"><span class="value">{{ $ctrl.NP04_DCS_01_TE[55] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0057 (2.603 m): <a target="_blank" ng-href="#!/histogram/47891200606490"><span class="value">{{ $ctrl.NP04_DCS_01_TE[56] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0058 (2.095 m): <a target="_blank" ng-href="#!/histogram/47891217383706"><span class="value">{{ $ctrl.NP04_DCS_01_TE[57] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0059 (1.587 m): <a target="_blank" ng-href="#!/histogram/47891234160922"><span class="value">{{ $ctrl.NP04_DCS_01_TE[58] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0060 (1.079 m): <a target="_blank" ng-href="#!/histogram/47891250938138"><span class="value">{{ $ctrl.NP04_DCS_01_TE[59] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0049 (0.673 m): <a target="_blank" ng-href="#!/histogram/47891066388762"><span class="value"> &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0050 (0.571 m): <a target="_blank" ng-href="#!/histogram/47891083165978"><span class="value">{{ $ctrl.NP04_DCS_01_TE[49] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0051 (0.470 m): <a target="_blank" ng-href="#!/histogram/47891099943194"><span class="value">{{ $ctrl.NP04_DCS_01_TE[50] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0052 (0.368 m): <a target="_blank" ng-href="#!/histogram/47891116720410"><span class="value">{{ $ctrl.NP04_DCS_01_TE[51] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0053 (0.267 m): <a target="_blank" ng-href="#!/histogram/47891133497626"><span class="value">{{ $ctrl.NP04_DCS_01_TE[52] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0054 (0.165 m): <a target="_blank" ng-href="#!/histogram/47891150274842"><span class="value">{{ $ctrl.NP04_DCS_01_TE[53] | number: 1}} &#8490;</span></a></td>
            </tr>

        </table>
    </div>

    <div id="ific1val">
        <table>
            <tr>
                <td>0001 (7.385 m): <a target="_blank" ng-href="#!/histogram/47890261082394"><span class="value">{{ $ctrl.NP04_DCS_01_TE[0] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0002 (7.267 m): <a target="_blank" ng-href="#!/histogram/47890277859610"><span class="value">{{ $ctrl.NP04_DCS_01_TE[1] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0003 (7.149 m): <a target="_blank" ng-href="#!/histogram/47890294636826"><span class="value">{{ $ctrl.NP04_DCS_01_TE[2] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0004 (7.031 m): <a target="_blank" ng-href="#!/histogram/47890311414042"><span class="value">{{ $ctrl.NP04_DCS_01_TE[3] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0005 (6.913 m): <a target="_blank" ng-href="#!/histogram/47890328191258"><span class="value">{{ $ctrl.NP04_DCS_01_TE[4] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0006 (6.795 m): <a target="_blank" ng-href="#!/histogram/47890344968474"><span class="value">{{ $ctrl.NP04_DCS_01_TE[5] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0007 (6.677 m): <a target="_blank" ng-href="#!/histogram/47890361745690"><span class="value">{{ $ctrl.NP04_DCS_01_TE[6] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0008 (6.559 m): <a target="_blank" ng-href="#!/histogram/47890378522906"><span class="value">{{ $ctrl.NP04_DCS_01_TE[7] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0009 (6.441 m): <a target="_blank" ng-href="#!/histogram/47890395300122"><span class="value">{{ $ctrl.NP04_DCS_01_TE[8] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0010 (6.323 m): <a target="_blank" ng-href="#!/histogram/47890412077338"><span class="value">{{ $ctrl.NP04_DCS_01_TE[9] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0011 (6.205 m): <a target="_blank" ng-href="#!/histogram/47890428854554"><span class="value">{{ $ctrl.NP04_DCS_01_TE[10] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0012 (6.087 m): <a target="_blank" ng-href="#!/histogram/47890445631770"><span class="value">{{ $ctrl.NP04_DCS_01_TE[11] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0013 (5.969 m): <a target="_blank" ng-href="#!/histogram/47890462408986"><span class="value">{{ $ctrl.NP04_DCS_01_TE[12] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0014 (5.851 m): <a target="_blank" ng-href="#!/histogram/47890479186202"><span class="value">{{ $ctrl.NP04_DCS_01_TE[13] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0015 (5.733 m): <a target="_blank" ng-href="#!/histogram/47890495963418"><span class="value">{{ $ctrl.NP04_DCS_01_TE[14] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0016 (5.615 m): <a target="_blank" ng-href="#!/histogram/47890512740634"><span class="value">{{ $ctrl.NP04_DCS_01_TE[15] | number: 1}} &#8490;</span></a></td>
            </tr>
        </table>
    </div>

    <div id="ific2val">
        <table>
            <tr>
                <td>0017 (5.497 m): <a target="_blank" ng-href="#!/histogram/47890529517850"><span class="value">{{ $ctrl.NP04_DCS_01_TE[16] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0018 (5.379 m): <a target="_blank" ng-href="#!/histogram/47890546295066"><span class="value">{{ $ctrl.NP04_DCS_01_TE[17] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0019 (5.143 m): <a target="_blank" ng-href="#!/histogram/47890563072282"><span class="value">{{ $ctrl.NP04_DCS_01_TE[18] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0020 (4.907 m): <a target="_blank" ng-href="#!/histogram/47890579849498"><span class="value">{{ $ctrl.NP04_DCS_01_TE[19] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0021 (4.671 m): <a target="_blank" ng-href="#!/histogram/47890596626714"><span class="value">{{ $ctrl.NP04_DCS_01_TE[20] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0022 (4.435 m): <a target="_blank" ng-href="#!/histogram/47890613403930"><span class="value">{{ $ctrl.NP04_DCS_01_TE[21] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0023 (4.199 m): <a target="_blank" ng-href="#!/histogram/47890630181146"><span class="value">{{ $ctrl.NP04_DCS_01_TE[22] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0024 (3.963 m): <a target="_blank" ng-href="#!/histogram/47890646958362"><span class="value">{{ $ctrl.NP04_DCS_01_TE[23] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0025 (3.727 m): <a target="_blank" ng-href="#!/histogram/47890663735578"><span class="value">{{ $ctrl.NP04_DCS_01_TE[24] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0026 (3.491 m): <a target="_blank" ng-href="#!/histogram/47890680512794"><span class="value">{{ $ctrl.NP04_DCS_01_TE[25] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0027 (3.255 m): <a target="_blank" ng-href="#!/histogram/47890697290010"><span class="value">{{ $ctrl.NP04_DCS_01_TE[26] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0028 (3.019 m): <a target="_blank" ng-href="#!/histogram/47890714067226"><span class="value">{{ $ctrl.NP04_DCS_01_TE[27] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0029 (2.783 m): <a target="_blank" ng-href="#!/histogram/47890730844442"><span class="value">{{ $ctrl.NP04_DCS_01_TE[28] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0030 (2.547 m): <a target="_blank" ng-href="#!/histogram/47890747621658"><span class="value">{{ $ctrl.NP04_DCS_01_TE[29] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0031 (2.311 m): <a target="_blank" ng-href="#!/histogram/47890764398874"><span class="value">{{ $ctrl.NP04_DCS_01_TE[30] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0032 (2.193 m): <a target="_blank" ng-href="#!/histogram/47890781176090"><span class="value">{{ $ctrl.NP04_DCS_01_TE[31] | number: 1}} &#8490;</span></a></td>
            </tr>
        </table>
    </div>

    <div id="ific3val">
        <table>
            <tr>
                <td>0033 (2.075 m): <a target="_blank" ng-href="#!/histogram/47890797953306"><span class="value">{{ $ctrl.NP04_DCS_01_TE[32] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0034 (1.957 m): <a target="_blank" ng-href="#!/histogram/47890814730522"><span class="value">{{ $ctrl.NP04_DCS_01_TE[33] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0035 (1.839 m): <a target="_blank" ng-href="#!/histogram/47890831507738"><span class="value">{{ $ctrl.NP04_DCS_01_TE[34] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0036 (1.721 m): <a target="_blank" ng-href="#!/histogram/47890848284954"><span class="value">{{ $ctrl.NP04_DCS_01_TE[35] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0037 (1.603 m): <a target="_blank" ng-href="#!/histogram/47890865062170"><span class="value">{{ $ctrl.NP04_DCS_01_TE[36] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0038 (1.485 m): <a target="_blank" ng-href="#!/histogram/47890881839386"><span class="value">{{ $ctrl.NP04_DCS_01_TE[37] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0039 (1.367 m): <a target="_blank" ng-href="#!/histogram/47890898616602"><span class="value">{{ $ctrl.NP04_DCS_01_TE[38] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0040 (1.249 m): <a target="_blank" ng-href="#!/histogram/47890915393818"><span class="value">{{ $ctrl.NP04_DCS_01_TE[39] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0041 (1.131 m): <a target="_blank" ng-href="#!/histogram/47890932171034"><span class="value"> &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0042 (1.013 m): <a target="_blank" ng-href="#!/histogram/47890948948250"><span class="value">{{ $ctrl.NP04_DCS_01_TE[41] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0043 (0.895 m): <a target="_blank" ng-href="#!/histogram/47890965725466"><span class="value">{{ $ctrl.NP04_DCS_01_TE[42] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0044 (0.777 m): <a target="_blank" ng-href="#!/histogram/47890982502682"><span class="value">{{ $ctrl.NP04_DCS_01_TE[43] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0045 (0.659 m): <a target="_blank" ng-href="#!/histogram/47890999279898"><span class="value">{{ $ctrl.NP04_DCS_01_TE[44] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0046 (0.541 m): <a target="_blank" ng-href="#!/histogram/47891016057114"><span class="value">{{ $ctrl.NP04_DCS_01_TE[45] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0047 (0.423 m): <a target="_blank" ng-href="#!/histogram/47891032834330"><span class="value">{{ $ctrl.NP04_DCS_01_TE[46] | number: 1}} &#8490;</span></a></td>
            </tr>
            <tr>
                <td>0048 (0.305 m): <a target="_blank" ng-href="#!/histogram/47891049611546"><span class="value">{{ $ctrl.NP04_DCS_01_TE[47] | number: 1}} &#8490;</span></a></td>
            </tr>
        </table>
    </div>
</div>